<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
       <title>Cimri</title>
       
       <link href="/css/bootstrap.min.css"  th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
       <script src="/js/jquery-3.1.1.min.js" th:href="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
       <script src="/js/angular.min.js" th:href="@{/js/angular.min.js}" type="text/javascript"></script>
    
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
    
    </head>
<body>
  	<h1 th:inline="text">Title a Göre Ürün Ara</h1>
  	<div id="MainDiv" ng-app="myApp" ng-controller="customersCtrl">       
  	<form  novalidate class="form-horizontal"   method="get"   id="contact_forms"  > 
    <input type="text" name="ct_ara" id="ct_ara" ng-model="ara.name" size="80"  />
    <button id="btnPrint" class="btn btn-danger btn-xs" ng-click="update(ara)">Gönder</button>
  	</form>
 
   	Fiyatlar
   	<hr/>
   	<p>{{Dates }}</p>
   	<p>{{Prices }}</p>
   
 
	<table>
	<tr >
    <td>Title</td>
    <td>Category</td>
    <td>Brand</td>
    <td>Url</td>
    <td>Fiyat Bilgileri</td>
  	</tr>
  	
  	<tr ng-repeat="x in names">
    <td>{{ x.Title }}</td>
    <td>{{ x.Category }}</td>
    <td>{{ x.Brand }}</td>
    <td>{{ x.Url }}</td>
    <td>{{ x.Id }}
   	<button id="{{ x.Id }}" class="btn btn-danger btn-xs" ng-click="reupdate(x.Id)" value="{{ x.Id }}"  >Fiyat</button>            
    </td>
  	</tr>
	</table>

	</div>

<script> 
var app = angular.module('myApp', []);

app.controller('customersCtrl', function($scope, $http) { 
	
	$scope.update = function(arama) {
	$http.get("http://localhost:9595/results/"+arama.name)
    .then(function (response) {$scope.names = response.data.Results;});
	};
    
    $scope.reupdate = function(fiyat) {
    	$http.get("http://localhost:9595/resultsdynamo/"+fiyat)
        .then(function (response) {
        	$scope.Dates = response.data.Results.Dates;
        	$scope.Prices = response.data.Results.Prices;
        });};  
});
</script>
  
    </body>
</html>